@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scroll-bar-size: 6px;
  --scroll-bar-round: 999999999px;
  --scroll-bg-color: #eeeeee;
  --scroll-hover-color: #dddddd;
}

:root.dark {
  --scroll-bg-color: #707070;
  --scroll-hover-color: #606060;
}

* {
  ::-webkit-scrollbar {
    width: var(--scroll-bar-size);
    height: var(--scroll-bar-size);
  }
  ::-webkit-scrollbar-thumb {
    border-radius: var(--scroll-bar-round);
    background: var(--scroll-bg-color);

    &:hover {
      cursor: pointer;
      background: var(--scroll-hover-color);
    }
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.input-border-gray-300 {
  fieldset {
    border-color: rgb(229, 231, 235) !important;
  }
}

@keyframes flicker-text {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.flicker-text {
  animation: flicker-text 1.5s linear infinite;
}
